.container{
    padding: 50px;
    text-align: center;
    
    
}
.container h1{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    color: rgb(0, 0, 0);

  /* Establecer el grosor y el color del borde */
  -webkit-text-stroke: 2px black; /* Para navegadores basados en WebKit (Chrome, Safari, etc.) */
  
}
.container h4{
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke: 2px rgb(36, 119, 167);
}
.nosotros{
    background-color: rgba(22, 124, 214, 0.167);
}